<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facerecog.dao.UserDao">
    <resultMap id="userMap" type="com.facerecog.bo.UserInfo">
        <result column="user_id" property="userId"/>
        <collection column="user_id" property="roleList"
                    select="com.facerecog.dao.UserDao.selectRoleListByUserID">
        </collection>
    </resultMap>
    <select id="selectUserMapByName" parameterType="pd" resultMap="userMap">
        select user_id,wid,name,password,1 enabled
        from tbl_user
        where name = #{name}
    </select>

    <select id="selectRoleListByUserID" parameterType="int" resultType="com.facerecog.bo.Role">
        SELECT r.role_id,r.role_name,r.role_desc FROM tbl_role r RIGHT JOIN tbl_user_role ur ON r.role_id=ur.role_id WHERE ur.user_id=#{user_id}
    </select>

    <resultMap id="permisMap" type="com.facerecog.bo.Permission">
        <result column="permission_id" property="permissionId"/>
        <collection column="permission_id" property="roleList"
                    select="com.facerecog.dao.UserDao.selectRoleListByPermisID">
        </collection>
    </resultMap>
    <select id="selectPermissionListMap" resultMap="permisMap">
        SELECT * FROM tbl_permission
    </select>

    <select id="selectRoleListByPermisID" parameterType="int" resultType="com.facerecog.bo.Role">
         SELECT r.role_id,r.role_name,r.role_desc FROM tbl_role r RIGHT JOIN tbl_role_permission rp ON r.role_id=rp.role_id WHERE rp.permission_id=#{permission_id}
    </select>

    <select id="selectRoleNameListByUrl" parameterType="string" resultType="string">
         SELECT r.role_name FROM tbl_role r RIGHT JOIN tbl_role_permission rp ON r.role_id=rp.role_id WHERE rp.permission_id=(select permission_id from tbl_permission where url=#{url})
    </select>

    <!-- 调用存储过程 -->
    <select id="proSelectRoleNameListByUrl" statementType="CALLABLE" parameterType="string" resultType="string">
            call pro_selectRoleNameListByUrl(#{url,mode=IN,jdbcType=VARCHAR});
    </select>

    <update id="insertUser" parameterType="pd">
        INSERT INTO tbl_user(name, password, permission_level, register_time)
        VALUES (#{name}, #{password}, 0, now());
        UPDATE tbl_user
        SET wid = (SELECT LAST_INSERT_ID())
        WHERE user_id = (SELECT LAST_INSERT_ID());
    </update>

    <select id="selectWidByUserId" parameterType="String" resultType="int">
        select wid
        from tbl_user
        where user_id = #{wid}
    </select>

    <update id="updateUserLoginTime" parameterType="pd">
        update tbl_user
        set last_login_time=now()
        where user_id = #{user_id}
    </update>

    <update id="updateUserPassword" parameterType="pd">
        update tbl_user
        set password=#{new_password}
        where user_id = #{user_id}
    </update>

    <select id="selectWidList" resultType="pd">
        select wid from tbl_user;
    </select>
</mapper>